<main class="flex justify-start items-center gap-5 bg-[#cb075a] px-[20%] py-2">
  <span class="text-[#f7d034] text-2xl font-semibold hover:cursor-pointer">
    Tasks
  </span>
  <span class="flex justify-between items-center w-full">
    <a
      routerLink="/all-tasks"
      routerLinkActive="active"
      class="text-white p-2 rounded-md"
    >
      All-tasks
    </a>
    <a
      routerLink="/login"
      routerLinkActive="active"
      class="text-white p-2 rounded-md"
    >
      Logout
    </a>
  </span>
</main>
