<main class="flex justify-between items-center">
  <div
    [class]="{
      'img-container-lg': innerWidth >= 768,
      'img-container-md-sm': innerWidth < 768
    }"
  >
    <img
      src="assets/images/img.jpg"
      alt="img"
      class="h-screen object-cover opacity-25"
    />
  </div>
  <div class="w-full h-screen flex justify-center items-center">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
      class="flex flex-col justify-center w-3/4 rounded-lg px-5 py-10 shadow-2xl"
    >
      <span class="text-xl text-[#bd3630] pb-5">Login</span>
      <!-- email -->
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-hint class="text-yellow-600">abdo&#64;gmail.com</mat-hint>
        <mat-error
          *ngIf="
            loginForm.get('email')?.touched &&
            loginForm.get('email')?.hasError('required')
          "
        >
          Email is required
        </mat-error>
        <mat-error
          *ngIf="
            loginForm.get('email')?.touched &&
            loginForm.get('email')?.hasError('email')
          "
        >
          Incorrect email
        </mat-error>
      </mat-form-field>
      <!-- password -->
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-hint class="text-yellow-600">1234</mat-hint>
        <mat-error
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.hasError('required')
          "
        >
          Password is required
        </mat-error>
        <mat-error
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.hasError('minlength')
          "
        >
          Password should be more than 3 characters
        </mat-error>
        <mat-error
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.hasError('maxlength')
          "
        >
          Password should be less than 11 characters
        </mat-error>
      </mat-form-field>

      <span class="text-center py-3 text-red-500" *ngIf="errorMessage">
        {{ errorMessage }}
      </span>
      <!-- submit -->
      <span class="flex justify-center">
        <button
          type="submit"
          [class]="{
            btnLoginValid: loginForm.valid && !isLoading,
            btnLoginInValid: loginForm.invalid,
            btnLoading: isLoading
          }"
          [disabled]="loginForm.invalid || isLoading"
        >
          <span *ngIf="!isLoading">Login</span>
          <span *ngIf="isLoading">Loading...</span>
        </button>
      </span>
      <span class="flex justify-center">
        <p class="text-[#4050b8] text-center hover:cursor-pointer">
          <a routerLink="/register">Create account</a>
        </p>
      </span>
    </form>
  </div>
</main>
